@model LifelogBb.Models.Entities.EnduranceTraining

@{
    ViewData["Title"] = "Endurance Training";
    ViewData["Pretitle"] = "Create";
}

<div class="container-xl">
    <div class="row row-cards">
        <div class="col-12">
            <form asp-action="Create" class="card">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Exercise" class="control-label mb-1"></label>
                        <input asp-for="Exercise" class="form-control form-control-lg" data-whitelist="@ViewData["ExerciseList"]" />
                        <span asp-validation-for="Exercise" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Distance" class="control-label mb-1"></label>
                        <input asp-for="Distance" class="form-control form-control-lg" />
                        <span asp-validation-for="Distance" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Duration" class="control-label mb-1"></label>
                        <input asp-for="Duration" class="form-control form-control-lg" step="1" />
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        @Html.EditorFor(model => model.Rating, "Rating")
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Notes" class="control-label mb-1"></label>
                        <input asp-for="Notes" class="form-control form-control-lg" />
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <div class="d-flex">
                        <a class="btn btn-secondary" asp-action="Index"><i class="fas fa-arrow-circle-left icon"></i>Back</a>
                        <button type="submit" value="Create" class="btn btn-primary ms-auto"><i class="fas fa-plus-square icon"></i>Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/lib/tagify/tagify.min.css" />
}

@section Scripts {
    <script src="~/lib/tagify/tagify.min.js"></script>
    <script>
        new Tagify(document.querySelector('#Exercise'), {
            originalInputValueFormat: valuesArr => valuesArr.map(item => item.value).join(','),
            mode: "select",
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
