@{
    ViewData["Title"] = "Journal";
    ViewData["PrimaryAction"] = "create";
}

<div class="container-xl">
    <div class="row row-cards">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    Journal
                </div>
            </div>
        </div>
    </div>
</div>
