@{
    ViewData["Title"] = "Home";
}

<div class="container text-center">
    <h1 class="display-4">LifelogBB</h1>
    <div class="row">
        <div class="col col-md-6">
            <a class="btn btn-primary btn-lg" asp-controller="Weights" role="button"><i class="fa-solid fa-weight-scale fa-4x"></i><br />Weight</a>
        </div>
        <div class="col col-md-6">
            <a class="btn btn-primary btn-lg" asp-controller="Journals" role="button"><i class="fa-solid fa-pencil fa-4x"></i><br />Journal</a>
        </div>
        <div class="col col-md-6">
            <a class="btn btn-primary btn-lg" asp-controller="StrengthTrainings" role="button"><i class="fa-solid fa-dumbbell fa-4x"></i><br />Strength training</a>
        </div>
        <div class="col col-md-6">
            <a class="btn btn-primary btn-lg" asp-controller="EnduranceWorkouts" role="button"><i class="fa-solid fa-running fa-4x"></i><br />Endurance workout</a>
        </div>
    </div>
</div>
