@{
    ViewData["Title"] = "Home";
}

<div class="container text-center">
    <h1 class="display-4">LifelogBB</h1>
    <div class="row">
        <div class="col col-md-6">
            <a class="btn btn-primary btn-lg" asp-controller="Weights" role="button"><i class="fa-solid fa-weight-scale fa-4x"></i><br />Weight</a>
        </div>
        <div class="col col-md-6">
            <a class="btn btn-primary btn-lg" asp-controller="Journals" role="button"><i class="fa-solid fa-pencil fa-4x"></i><br />Journal</a>
        </div>
        <div class="col col-md-6">
            <a class="btn btn-primary btn-lg" asp-controller="StrengthTrainings" role="button"><i class="fa-solid fa-dumbbell fa-4x"></i><br />Strength training</a>
        </div>
        <div class="col col-md-6">
            <a class="btn btn-primary btn-lg" asp-controller="EnduranceWorkouts" role="button"><i class="fa-solid fa-running fa-4x"></i><br />Endurance workout</a>
        </div>
        <div class="col col-md-6">
            <a class="btn btn-info btn-lg" asp-controller="Home" asp-action="Dashboard" role="button"><i class="fa-solid fa-chalkboard fa-4x"></i><br />Dashboard</a>
        </div>
        <div class="col col-md-3">
            <a class="btn btn-success btn-lg" asp-controller="Account" asp-action="Logout" role="button"><i class="fa-solid fa-gear fa-4x"></i><br />Config</a>
        </div>
        <div class="col col-md-3">
            <a class="btn btn-danger btn-lg" asp-controller="Account" asp-action="Logout" role="button"><i class="fa-solid fa-right-from-bracket fa-4x"></i><br />Logout</a>
        </div>
    </div>
</div>
