.colun {
    background-color: #4c79b3;
}

.colno {
    background-color: #69B34C;
}

.colov {
    background-color: #d19a2b;
}

.colo1 {
    background-color: #ce3a09;
    color: #ffffff !important;
}

.colo2 {
    background-color: #b40000;
    color: #ffffff !important;
}
