html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f5f5f5;
}


input {
    text-align: center;
}

.btn {
    min-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

select {
    text-align: center;
    text-align-last: center;
}

td {
    vertical-align: middle;
}
