@model LifelogBb.Models.Account.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<p class="fs-5 col-md-8">Access LifelogBb using the password provided in the configuration.</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-groupmb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        <p class="mt-5 mb-3"><a href="/Account/GeneratePassword">Generate password hash</a></p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
