@model string?

<label for="Tags" class="control-label mb-1"></label>
<select class="form-control" name="Tags" id="Tags" multiple>
    @if (!string.IsNullOrEmpty(Model))
    {
        foreach (string cat in Model.Split(","))
        {
            <option value="@cat" selected>@cat</option>
        }
    }
</select>
